<main role="main">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Lista de Usuários</h1>
    </div>
    <div class="col-xl-12">

        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Data de nascimento</th>
                <th scope="col">Opções</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="usuario in usuarios track by usuario.id">
                <td>{{usuario.id}}</td>
                <td>{{usuario.nome}}</td>
                <td>{{usuario.dataDeNascimento | date:'dd/MM/yyyy'}}</td>
                <td>
                    <button type="button" class="btn btn-primary" ng-click="editar(usuario.id)"><i class="fas fa-edit"></i></button>
                    <button type="button" class="btn btn-danger" ng-click="deletar(usuario.nome,usuario.id);"><i class="far fa-trash-alt"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>