<main role="main">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Editar Usuário</h1>
    </div>
    <div class="col-12">
        <div class="row mb-5">
            <div class="col-md-8 order-md-1 mb-5 offset-4">
                <form role="form" class="was-validated" name="usuarioEditarForm" ng-submit="usuarioEditarForm.$valid && editar()" novalidate>
                    <form-input type="text" id="nome" label="Nome" ng-model="usuario.nome" ng-pattern="nomePattern"></form-input>
                    <form-input type="date" id="dataDeNascimento" label="Data de nascimento" ng-model="usuario.dataDeNascimento"></form-input>
                    <form-buttons voltar-sref="usuarioListar" submit-text="Editar Usuário"></form-buttons>
                </form>
            </div>
        </div>
    </div>
</main>

