<main role="main">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Editar Aluno</h1>
    </div>
    <div class="col-12">
        <div class="row mb-5">
            <div class="col-md-8 order-md-1 mb-5 offset-4">
                <form role="form" class="was-validated" name="usuarioEditarForm" ng-submit="editar()" novalidate>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName">Nome</label>
                            <input type="text" class="form-control" id="firstName" name="nome" placeholder="" required ng-model="usuario.nome">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="dataDeNascimento">Data de Nascimento</label>
                            <input type="date" class="form-control" id="dataDeNascimento" name="dataDeNascimento" placeholder="" required ng-model="usuario.dataDeNascimento">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-3">
                            <button class="btn btn-lg btn-primary" ui-sref="usuarioListar">
                                Voltar
                            </button>
                        </div>
                        <div class="col-3">
                            <button class="btn btn-lg btn-success" type="submit">
                                Editar Aluno
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

