<main role="main">
    <div class="pb-2 mb-3 border-bottom">
        <h1 class="h2">Cadastro de Cursos</h1>
    </div>
    <div class="col-12">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-8 order-md-1 mb-5 offset-3">
                <form role="form" class="was-validated" name="cursoIncluirForm" ng-submit="cursoIncluirForm.$valid && incluir()" novalidate>
                    <form-input type="text" max="255" id="nome" label="Nome (Até 255 caracteres)" ng-model="curso.nome" ng-pattern="nomePattern"></form-input>
                    <form-input type="text" max="5" id="sigla" label="Sigla (Até 5 caracteres)" ng-model="curso.sigla" ng-pattern="siglaPattern"></form-input>
                    <form-select-usuarios id="coordenador" label="Coordenador" ng-model="curso.coordenador.id"></form-select-usuarios>
                    <form-select-escola id="escola" label="Escola" ng-model="curso.escola.id"></form-select-escola>
                    <form-select-multiple-materia id="materia" label="Matérias" ng-model="curso.materiasIds"></form-select-multiple-materia>
                    <form-textarea type="text" max="2500" id="descricao" label="Descrição (Até 2500 caracteres)" ng-model="curso.descricao" ng-pattern="descricaoPattern"></form-textarea>
                    <form-buttons voltar-sref="cursoListar" submit-text="Cadastrar Curso"></form-buttons>
                </form>
            </div>
        </div>
    </div>
</main>

