<main role="main">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Editar Aluno</h1>
    </div>
    <div class="col-12">
        <div class="row mb-5">
            <div class="col-md-8 order-md-1 mb-5 offset-4">
                <form role="form" class="was-validated" name="alunoEditarForm" ng-submit="editar()" novalidate>
                    <form-input type="text" id="nome" label="Nome" ng-model="aluno.nome"></form-input>
                    <form-input type="email" id="email" label="Email" ng-model="aluno.email"></form-input>
                    <form-input type="number" id="idade" label="Idade" ng-model="aluno.idade"></form-input>


                    <div class="row">
                        <div class="col-3">
                            <button class="btn btn-lg btn-primary" ui-sref="alunoListar">
                                Voltar
                            </button>
                        </div>
                        <div class="col-3">
                            <button class="btn btn-lg btn-success" type="submit">
                                Editar Aluno
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

