<main role="main">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Editar Aluno</h1>
    </div>
    <div class="col-12">
        <div class="row mb-5">
            <div class="col-md-8 order-md-1 mb-5 offset-4">
                <form role="form" class="was-validated" name="alunoEditarForm" ng-submit="editar()" novalidate>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName">Nome</label>
                            <input type="text" class="form-control" id="firstName" name="nome" placeholder="" required ng-model="aluno.nome">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="email">E-mail</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="" required ng-model="aluno.email">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="idade">Idade</label>
                            <input type="number" class="form-control" id="idade" name="idade" placeholder="" required ng-model="aluno.idade">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="matricula">Matrícula</label>
                            <input type="text" class="form-control" id="matricula" name="matricula" placeholder="" required ng-model="aluno.matricula">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-3">
                            <button class="btn btn-lg btn-primary" ui-sref="alunoListar">
                                Voltar
                            </button>
                        </div>
                        <div class="col-3">
                            <button class="btn btn-lg btn-success" type="submit">
                                Editar Aluno
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

