<main role="main">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Lista de Matérias</h1>
        <a class="btn btn-success" ui-sref="materiaIncluir">Adicionar Matéria</a>
    </div>
    <div class="col-xl-12">

        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                <th scope="col">Professor</th>
                <th scope="col">Opções</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="materia in materias track by materia.id">
                <td>{{materia.id}}</td>
                <td>{{materia.nome}}</td>
                <td>{{materia.descricao}}</td>
                <td>{{materia.professor.nome}}</td>
                <td>
                    <button type="button" class="btn btn-primary" ng-click="editar(materia.id)"><i class="fas fa-edit"></i></button>
                    <button type="button" class="btn btn-danger" ng-click="deletar(materia.nome,materia.id);"><i class="far fa-trash-alt"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>