<main role="main">
    <div class="pb-2 mb-3 border-bottom">
        <h1 class="h2">Editar Turma</h1>
    </div>
    <div class="col-12">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-8 order-md-1 mb-5 offset-3">
                <form role="form" class="was-validated" name="turmaEditarForm" ng-submit="turmaEditarForm.$valid && editar()" novalidate>
                    <form-input type="text" id="Nome" label="Nome" ng-model="turma.nome" ng-pattern="nomePattern"></form-input>
                    <form-input type="text" max="5" id="sigla" label="Sigla" ng-model="turma.sigla" ng-pattern="siglaPattern"></form-input>
                    <form-select-curso id="Curso" label="Curso" ng-model="turma.curso.id" sigla="turma.curso.sigla"></form-select-curso>
                    <form-input-turma-matricula type="text" id="Matricula" label="Matricula" ng-model="turma.matricula" turma-id="turma.id" sigla="turma.curso.sigla"></form-input-turma-matricula>
                    <form-select-alunos id="alunos" label="Alunos" ng-model="turma.alunosIds"></form-select-alunos>
                    <form-buttons voltar-sref="turmaListar" submit-text="Editar turma"></form-buttons>
                </form>
            </div>
        </div>
    </div>
</main>